.App {
  text-align: center;
}

.App-header {
  background-color: #0f1b34;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #b2bfdc;
  font-size: calc(2px + 2vmin);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

li {
  list-style-type: none;
  padding: 0px 30px;
  color:#0f1b34;
}

a {
  text-decoration: none;
  color: #0f1b34;
}
